.feature-container{
    padding-top: 105px;
    padding-bottom: 105px;
    // background-color: var(--one-background);\
    background-color:  #fff;
}

.feature-section{
width: 1113px;
height: 488px;
outline: 1px solid tomato;
margin-left: auto;
margin-right: auto;
}
.feature-title{
@include font($fw:700,$fz:36px,$lh:1.47,$ls:0.1px);
text-align: center;
width: 739px;
margin-left: auto;
margin-right: auto;

color: var(--second-title-color);
}

.feature-text{
    @include font($fw:400,$fz:16px,$lh:1.56,$ls:0.1px);
text-align: center;
width: 730px;
margin-left: auto;
margin-right: auto;

color: var(--primary-text-color);
}
.feature-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.feature-item{
    position: relative;
 width: 353px;
 height: 138px;
 outline: 1px solid navy;
 &:not(:last-child){
    margin-right: 30px;
 }   
}

.feature-icon{
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
}
.feature-subtitle{
    @include font($fw:600,$fz:18px,$lh:1.22,$ls:0.1px);
margin-left: 112px;
align-items: center;
margin-top: 35px;

color: var(--third-color-text);   
}

.feature-item-text{
    @include font($fw:400,$fz:14px,$lh:1.57,$ls:0.1px);
text-align: left;
width: 210px;
height: 58px;
justify-content: center;
margin-left: 117px;
margin-top: 12px;



color: var(--primary-text-color);
}
.feature-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
}